@model WebLibrary.ViewModels.Books.BookComments;
@{ 
    ViewData["Title"] = @Model.Book.Name;
}

<table style="margin-left: 2vw;">
    <tbody>
        <tr>
            <td style="vertical-align: top" width="30%">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a asp-action="book" asp-controller="library" asp-route-id="@Model.Book.Id">
                                    <img style="max-width: 100%; max-height: 100%; display:block" 
                                         src="~/Server/Books/Images/@Model.Book.PathCover"
                                         align="left"
                                         alt="bookcover"
                                         itemprop="image" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top; padding-left: 2vw;" width="70%">
                <span style="display: table">
                    <br />
                    <p>
                        <b><span style="font-size:2rem">@Model.Book.Name</span></b>
                        <br />
                        <br />
                        <b>Автор:</b> @Model.Book.Author.FullName
                        <br />
                        <b>Жанр:</b> @Model.Book.Genre.Name
                        <br />
                        <b>Количество страниц:</b> @Model.Book.PageCount
                        <br />
                        <b>Год:</b> @Model.Book.Year
                        <br />
                        <b>ISBN:</b> @Model.Book.ISBN
                    </p>
                    <p>
                        <b>Аннотация на книгу «@Model.Book.Name»:</b>
                        <br />
                        <span>
                            @Model.Book.Description
                        </span>
                    </p>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<section class="container">
    <div class="panel">
        <div class="panel-body">
            <h4 align="center">Комментарии</h4>
            <form asp-action="book" asp-controller="library">
                <div class="form-group">
                    <textarea asp-for="NewComment.Content" class="form-control" placeholder="Введите Ваш комментарий"></textarea>
                    <span asp-validation-for="NewComment.Content"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-sm btn-default border-dark " style="margin-bottom: 20px;" />
                </div>
            </form>
        </div>
    </div>
    @foreach (var comment in Model.Comments)
    {
        <div class="panel">
            <div class="panel-body">
                <div class="media-block">
                    <div class="media-left">
                        <img class="img-circle img-sm"
                             alt="Профиль пользователя"
                             src="~/Server/Users/Images/@comment.User.PathAvatar" />
                    </div>
                    <a>@comment.User.Login</a>
                    <p class="text-muted text-sm">@comment.PublicationDate</p>
                    <p>@comment.Content</p>
                    <hr />
                </div>
            </div>
        </div>
    }
</section>


