@model WebLibrary.ViewModels.Books.BookPageViewModel
@addTagHelper *, WebLibrary
@{
    ViewBag.Title = "Библиотека";
}

<div class="row buttons-header">
    <div class="col-md-9">
        <sort-header action="BooksCollection" up="@Model.SortViewModel.Up" search="@ViewData["SearchParam"]" view="@ViewData["ViewType"]"
                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.DateSort">
            Дата добавления
        </sort-header>
        <sort-header action="BooksCollection" up="@Model.SortViewModel.Up" search="@ViewData["SearchParam"]" view="@ViewData["ViewType"]"
                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.BookSort">
            Название
        </sort-header>
        <sort-header action="BooksCollection" up="@Model.SortViewModel.Up" search="@ViewData["SearchParam"]" view="@ViewData["ViewType"]"
                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.AuthorSort">
            Автор
        </sort-header>
        <sort-header action="BooksCollection" up="@Model.SortViewModel.Up" search="@ViewData["SearchParam"]" view="@ViewData["ViewType"]"
                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.YearSort">
            Год написания
        </sort-header>
        <sort-header action="BooksCollection" up="@Model.SortViewModel.Up" search="@ViewData["SearchParam"]" view="@ViewData["ViewType"]"
                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.GenreSort">
            Жанр
        </sort-header>
    </div>
    <div class="col-auto ml-auto">
        <a asp-action="BooksCollection" asp-route-search="@ViewData["SearchParam"]" asp-route-view="list">
            <b class="fa fa-list"></b>
        </a>
        <a asp-action="BooksCollection" asp-route-search="@ViewData["SearchParam"]" asp-route-view="title">
            <b class="fa fa-th"></b>
        </a>
        <a asp-action="BooksCollection" asp-route-search="@ViewData["SearchParam"]" asp-route-view="table">
            <b class="fa fa-align-justify"></b>
        </a>
    </div>
</div>

@foreach (var book in Model.Book)
{
    <div style="margin-left: 2vw;">
        <div class="book-header-list">
            <a asp-controller="Library" asp-action="Book" asp-route-id="@book.Id"><i>@book.Author.FullName</i> — @book.Name</a>
        </div>
        <table>
            <tbody>
                <tr>
                    <td style="vertical-align: top" width="30%">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="nocover.jpg">
                                            <img style="max-width: 100%; max-height: 100%; display:block"
                                                 src="~/Server/Books/Images/@book.PathCover"
                                                 align="left"
                                                 alt="bookcover"
                                                 itemprop="image" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top; padding-left: 2vw;" width="70%">
                        <span style="display: table">
                            <p>
                                <b>Автор:</b> @book.Author.FullName
                                <br />
                                <b>Название:</b> @book.Name
                                <br />
                                <b>Жанр:</b> @book.Genre.Name
                                <br />
                                <b>Количество страниц:</b> @book.PageCount
                                <br />
                                <b>Год:</b> @book.Year
                                <br />
                                <b>ISBN:</b> @book.ISBN
                            </p>
                            <p>
                                <b>Аннотация на книгу «@book.Name»:</b>
                                <br />
                                <span>
                                    @book.Description
                                </span>
                            </p>
                            <br />
                            <p>
                                <a class="btn btn-default border-dark" asp-action="UpdateBook" asp-controller="Library" asp-route-id="@book.Id">Изменить</a>
                                <a class="btn btn-default border-dark" asp-action="DeleteBook" asp-controller="Library" asp-route-id="@book.Id">Удалить</a>
                            </p>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="book-footer-list">
            <span>Добавлено @book.AdditionDate | Добавил: @book.Users.Login</span>
            <span class="float-right">Количество комментариев: @book.Comments.Count()</span>
        </div>
    </div>
}

<br />

<div style="margin-left: 1vw; margin-right: 1vw;">
    <div class="float-left">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="BooksCollection" asp-route-search="@ViewData["SearchParam"]" asp-route-view="@ViewData["ViewType"]"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn btn-outline-dark">
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="BooksCollection" asp-route-search="@ViewData["SearchParam"]" asp-route-view="@ViewData["ViewType"]"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn btn-outline-dark">
                Вперед
            </a>
        }
    </div>
</div>
<script src="~/js/libraryPage/books.js"></script>

