@model List<WebLibrary.Models.Books.Book>
@{
    ViewBag.Title = "Библиотека";
}

<br />
<table class="table">
    <tr>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["IdSortParam"]" asp-route-search="@ViewData["SearchParam"]">Номер</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-search="@ViewData["SearchParam"]">Название</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["DescriptionSortParam"]" asp-route-search="@ViewData["SearchParam"]">Описание</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["YearSortParam"]" asp-route-search="@ViewData["SearchParam"]">Год</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["GenreSortParam"]" asp-route-search="@ViewData["SearchParam"]">Жанр</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["AddDateSortParam"]" asp-route-search="@ViewData["SearchParam"]">Дата добавления</a>
        </th>
        <th>
            <a asp-action="BooksCollection" asp-route-sortOrder="@ViewData["AuthorSortParam"]" asp-route-search="@ViewData["SearchParam"]">Автор</a>
        </th>
        <th colspan="2">Манипуляция</th>
    </tr>
    @foreach (var book in Model)
    {
<tr>
    <td>@book.Id</td>
    <td>@book.Name</td>
    <td>@book.Description</td>
    <td>@book.Year</td>
    <td>@book.Genre.Name</td>
    <td>@book.AdditionDate</td>
    <td>@book.Author.FullName</td>
    <td><a asp-action="UpdateBook" asp-route-id="@book.Id">Изменить</a></td>
    <td><a asp-action="DeleteBook" asp-route-id="@book.Id">Удалить</a></td>
</tr>
    }
</table>
<br/>
<div align="center">
    <a asp-controller="Library" asp-action="AddBook">
        <input type="button" class="btn btn-default border-dark" value="Добавить книгу" />
    </a>
</div>
