@model WebLibrary.Models.Users.User
@{
    ViewData["Title"] = "Профиль";
}


<p>Персональный номер пользователя - @Model.Id</p>
<p>Имя пользователя - @Model.FirstName</p>
<p>Фамилия пользователя - @Model.LastName</p>
<p>Возраст пользователя - @Model.Age</p>
<p>Электронная почта пользователя - @Model.Email</p>
<p>Количество добавленных книг пользователем - @ViewData["TotalBooks"]</p>

<div align="center">
<a asp-controller="Account" asp-action="Logout">
    <input type="button" class="btn btn-default border-dark" value="Выйти из системы" />
</a>
</div>